<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        
    <!--  Beans -->
    <bean id="account" class="com.durgasoft.beans.Account">
    <property name="accNo" value="123456"/>
    <property name="accHolderName" value="Durga"/>
    <property name="accType" value="Savings"/>
    <property name="balance" value="25000"/>
    </bean>
    
    <bean id="cheque" class="com.durgasoft.beans.Cheque">
    <property name="cheque_No" value="xyz123"/>
    <property name="amount" value="10000"/>
    
    </bean>
    <!--  Target -->
    <bean id="target" class="com.durgasoft.service.TransactionServiceImpl">
    </bean>
    
    <!--  Advice -->
    <bean id="advice" class="com.durgasoft.advice.ChequeClearanceAdvice"></bean>
    
    <!-- proxy -->
    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target" ref="target"/>
    <property name="interceptorNames">
    <list>
    <value>advice</value>
    </list>
    
    </property>
    </bean>    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </beans>