<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
     <bean id="showBean" class="com.durgasoft.beans.Show">
     <property name="name" value="Mimicry"/>
     <property name="time" value="6PM"/>
     <property name="price" value="150"/>
     
        </bean>
     
     <!--  Target -->
     <bean id="showService" class="com.durgasoft.service.ShowServiceImpl"></bean>
     
     
     <!--  aspect /advice -->
     <bean id="ShowAspectBean" class="com.durgasoft.aspect.ShowAspectBean">
     </bean>
     
     <!-- AOP  aspect -->
     <aop:config>
     <aop:aspect id="showAspect"  ref="ShowAspectBean">
     <aop:pointcut expression="execution( public String com.durgasoft.service.ShowService.runShow(com.durgasoft.beans.Show) )" id="showPointCut"/>
     <aop:before method="before" pointcut-ref="showPointCut"/>
     <aop:after method="after" pointcut-ref="showPointCut"/>
     <aop:after-returning method="afterReturning" pointcut-ref="showPointCut"/>
     <aop:after-throwing method="afterThrowing" pointcut-ref="showPointCut"/>
     <aop:around method="around" pointcut-ref="showPointCut"/>
     
     
     
     </aop:aspect>
     
     
     
     </aop:config>
     
     
     
     
     
     </beans>