<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        <!--  Movie bean -->
        <bean id="movieBean" class="com.durgasoft.beans.Movie">
        <property name="movie_Name" value="Bahubali The Beginning"/>
        <property name="show_Timing" value="6PM"/>
        <property name="price" value="250"/>
        
         </bean>
        <!--  Target -->
        <bean id="target" class="com.durgasoft.service.MovieServiceImpl"></bean>
        
        <!--  Advice -->
        <bean id="advice" class="com.durgasoft.advice.ReturnMoneyAdvice"></bean>
        
        <!--  Proxy -->
        <bean id="movieProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target"  ref="target"/>
        <property name="interceptorNames">
        <list>
        <value>advice</value>
        </list>
        
        </property>
        </bean>
        
</beans>